@media (max-width:768px) {
    html{
        font-size:8px;
    }
    .navbar{
        flex-direction: column; /*yukaridan asagiya*/
        height: 120px;
        padding: 20px; 
    }
    .navbar a{
        padding: 10px;
        margin: 0 3px;
    }
    .flex-items{
        flex-direction: column;
    }
    .flex-columns .column{
        flex: 100%;
    }
    .flex-columns .column{
        flex: 100% !important;
    }
    .flex-items > div{
        padding: 10px;
    }
    .flex-grid .column{
        flex: 50%;
    
    }
}